@model QuanLyTrongNam.Models.Mushroom

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Mushroom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MushroomName" class="control-label"></label>
                <input asp-for="MushroomName" class="form-control" />
                <span asp-validation-for="MushroomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MushroomDescription" class="control-label"></label>
                <input asp-for="MushroomDescription" class="form-control" />
                <span asp-validation-for="MushroomDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MushroomPrice" class="control-label"></label>
                <input asp-for="MushroomPrice" class="form-control" />
                <span asp-validation-for="MushroomPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MushroomPicture" class="control-label"></label>
                <input asp-for="MushroomPicture" class="form-control" />
                <span asp-validation-for="MushroomPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarmId" class="control-label"></label>
                <select asp-for="FarmId" class ="form-control" asp-items="ViewBag.FarmId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

